/a practice.html
/a.html
/ab.htmimage.html
/before after.html
/border image.html
/border property.html
/c.html
/coolan.html
/css
/d..html
/display none.html
/div practice2.html
/div practice3.html
/div.html
/favicon icon.html
/font awesome.html
/footer.html
/form.html
/google map.html
/image
/login form.html
/margen.html
/max width.html
/media quari.html
/new.html
/opacity.html
/outline.html
/overflow.html
/padding pracice.html
/pedding2.html
/peding.html
/practice div .html
/practice.html
/rem.html
/table.html
/text decoration.html
/transform.html
/unorder list.html
/video tag.html